.gallery-header {
     width: 100%;
     max-width: 1200px;
     display: table;
     margin: 0 auto;
     padding: 50px 24px;
}

.gallery-header h3, .gallery-header h1{
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
     font-weight: 300;
}

.gallery-header h3 {
     margin-bottom: 4px;
}

.gallery-header h1{
     opacity: .8;
}

.gallery-header h3:hover {
     color: #f85075;
}

.gallery-header h1:hover{
     color: #684ed4;
}


.gallery-header a:focus,
.gallery-header a:active,
.gallery-header a:visited{
     text-decoration: none;
     color: #414655;
}

.gallery-header a:hover {
     text-decoration: none;
}