/*** color ***/
/* black: #414655; */
/* white: #fff; */
/* light-grey: #6e6e6e */


/*** Utilities ****/
.center-background {
     background: no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.grid-center-container {
     display: table;
     width: 100%;
     height: 100%;
}
.grid-center-content{
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}
.grid-center-content > * {
     display: inline-block;
     float: none !important;
}
.grid-center-content-vertical {
     display: table-cell;
     vertical-align: middle;
}
.grid-center-content-horizontal {
     text-align: center;
}
.grid-center-content-horizontal > *{
     display: inline-block;
     float: none !important;
}


/*** clean ***/
.row {
     margin: 0;
     padding: 0;
}
h1, h2, h3, h4, h5, p {
     margin: 0;
     padding: 0;
}

img {
     width: 100%;
}


/*** General ***/
h1, h2, h3, h4, h5, p {
     font-family: 'Roboto Mono', monospace;
     margin: 0;
     padding: 0;
     color: #414655;
}

#meApp {
     width: 100%;
     display: table;
}

.loader {
     height: 100vh;
}


/*** Header ***/
.header-img {
     width: 100%;
     height: 200px;
}



/*** Photo gallery ***/
.home-galleries {
     display: table;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding-bottom: 50px;
}


.home-gallery-container {
     width: 20%;
     float: left;
     position: relative;
     border: 23px #fff solid;
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
}

.home-gallery-container:hover {
     opacity: .7;
}

.home-gallery-container:before {
     content: "";
     display: block;
     padding-top: 100%;
}

.home-gallery-link {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
}

.home-gallery-cover {
     width: 100%;
     height: 100%;
     position: relative;
}

.home-gallery-cover h5 {
     position: absolute;
     bottom: 10px;
     right: -10px;
     padding: 6px 17px;
     border-radius: 6px;
     font-weight: 300;
     color: #fff;
}

.home-gallery-cover h5.gallery {
     background: #684ed4;
}

.home-gallery-cover h5.instagram {
     background: #f85075;
}


/*** profile ***/
.profile {
     width: 100%;
     max-width: 700px;
     display: table;
     margin: 0 auto;
     padding: 50px 0;
}

.profile-instagram-link {
     display: table;
     color: #414655;
     font-size: 2em;
     font-weight: 300;
     margin-bottom: 4px;
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
}

.profile-instagram-link:focus,
.profile-instagram-link:active,
.profile-instagram-link:visited{
     text-decoration: none;
}

.profile-instagram-link:hover {
     color: #f85075;
     text-decoration: none;
}


.profile-instagram-link-img {
     width: 100%;
     max-width: 150px;
     margin: 0 auto;
     display: table;
}

.profile img{
     border-radius: 100%;
     width: 100%;
}


.profile p{
     color: #414655;
}

.profile p a {
     color: #684ed4;
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
}

.profile p a:focus,
.profile p a:active,
.profile p a:visited{
     text-decoration: none;
     color: #684ed4;
}

.profile p a:hover {
     text-decoration: none;
     color: #f85075;
}

/*** Responsive ***/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
     .home-gallery-container {
          width: 50%;
     }
     .header-img {
          height: 150px;
     }
}

@media (max-width: 768px) {
     .home-gallery-container {
          width: 100%;
     }
     .profile-instagram-link-img {
          margin-bottom: 10px;
     }
}

@media (max-width: 500px) {
}







