<!DOCTYPE html>
<html lang="es">
<head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111712873-1"></script>
     <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111712873-1');
     </script>

     <title>@hnachar</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

     <!-- Bootstrap  CSS -->
     <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

     <!-- CSS -->
     <link rel="stylesheet" href="css/theme.css">

     <!-- fonts -->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">

</head>
<body>
<div id="meApp" v-cloak>
     <div v-if="loader" class="row loader">
          <div class="grid-center-container">
               <div class="grid-center-content">
                    <img src="img/loader.gif" style="width: 35px;">
               </div>
          </div>
     </div>

     <div v-if="!loader" class="row">
          <div class="header-img center-background" style="background-image: url('img/header.jpg')">

          </div>
     </div>

     <div v-if="!loader" class="row">
          <div class="profile">
               <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a class="profile-instagram-link profile-instagram-link-img" href="https://www.instagram.com/hnachar/" target="_blank">
                         <img src="img/profile.jpg">
                    </a>
               </div>
               <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
                    <a class="profile-instagram-link" href="https://www.instagram.com/hnachar/" target="_blank">
                         @hnachar
                    </a>
                    <p>Follow the hashtag <a href="https://www.instagram.com/explore/tags/hnachar/" target="_blank">#hnachar</a> to see all my instagram photos</p>
                    <p>#musician 🎸 #developer 💻 #rider 🚵‍♀️ #photographer 📷</p>
               </div>
          </div>
     </div>
     <div v-if="!loader" class="row">
          <div class="home-galleries">
               <div v-for="(photo, photoIndex) in medias" class="home-gallery-container">
                    <a :href="photo.link" class="home-gallery-link" target="_blank">
                         <div class="home-gallery-cover center-background" :style="{ backgroundImage: 'url(' + photo.img + ')' }">
                              <h5 :class="photo.from">{{photo.from}}</h5>
                         </div>
                    </a>
               </div>
          </div>
     </div>





</div>
<!-- jQuery -->
<script src="libraries/jquery-1.11.3.min.js"></script>

<!-- Bootstrap JS-->
<script src="bootstrap/js/bootstrap.min.js"></script>

<!--VueJs-->
<script src="libraries/vue.min.js"></script>



<!-- JAVASCRIPT -->
<script src="js/app_04.js"></script>
</body>
</html>
