<!DOCTYPE html>
<html lang="es">
<head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111712873-1"></script>
     <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111712873-1');
     </script>

     <title>@hnachar</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

     <!-- Bootstrap  CSS -->
     <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"> <!--  -->

     <!-- CSS -->
     <link rel="stylesheet" href="../../css/theme.css">
     <link rel="stylesheet" href="../../css/gallery.css">

     <!-- fonts -->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">

</head>
<body>
<div id="meApp" v-cloak>


     <div class="gallery-header">
          <a href="https://www.instagram.com/explore/tags/cosparty" target="_blank">
               <h3 class="text-right">#cosparty2017</h3>
          </a>
          <a href="https://www.instagram.com/hnachar" target="_blank">
               <h1 class="text-right">@hnachar</h1>
          </a>

     </div>

     <div class="row">
          <div class="home-galleries">
               <div v-for="(photo, photoIndex) in medias" class="home-gallery-container">
                    <a :href="photo.link" class="home-gallery-link" target="_blank">
                         <div class="home-gallery-cover center-background" :style="{ backgroundImage: 'url(' + photo.img + ')' }">
                              <h5 :class="photo.from">{{photo.from}}</h5>
                         </div>
                    </a>
               </div>
          </div>
     </div>





</div>
<!-- jQuery -->
<script src="../../libraries/jquery-1.11.3.min.js"></script>

<!-- Bootstrap JS-->
<script src="../../bootstrap/js/bootstrap.min.js"></script>

<!--VueJs-->
<script src="../../libraries/vue.min.js"></script>



<!-- JAVASCRIPT -->
<script src="js/galleryApp.js"></script>
</body>
</html>
